import: cabal.project
with-compiler: ghc-9.14.1
constraints: Glob ==0.10.2,
             OneTuple ==0.4.2.1,
             QuickCheck ==2.17.1.0,
             QuickCheck -old-random +templatehaskell,
             StateVar ==1.2.2,
             adjunctions ==4.4.4,
             ansi-terminal ==1.1.5,
             ansi-terminal -example,
             ansi-terminal-types ==1.1.3,
             array ==0.5.8.0,
             assoc ==1.1.1,
             assoc -tagged,
             base ==4.22.0.0,
             base-orphans ==0.9.4,
             bifunctors ==5.6.3,
             bifunctors +tagged,
             binary ==0.8.9.3,
             bitvec ==1.1.5.0,
             bitvec +simd,
             bytestring ==0.12.2.0,
             call-stack ==0.4.0,
             colour ==2.3.6,
             comonad ==5.0.10,
             comonad +containers +distributive +indexed-traversable,
             containers ==0.8,
             contravariant ==1.5.6,
             contravariant +statevar,
             data-default ==0.8.0.2,
             data-default-class ==0.2.0.0,
             deepseq ==1.5.1.0,
             directory ==1.3.10.0,
             distributive ==0.6.3,
             distributive +tagged,
             dlist ==1.0,
             dlist -werror,
             exceptions ==0.10.11,
             file-io ==0.1.5,
             filepath ==1.5.4.0,
             foldl ==1.4.18,
             free ==5.2,
             ghc ==9.14.1,
             ghc-bignum ==1.4,
             ghc-boot ==9.14.1,
             ghc-boot-th ==9.14.1,
             ghc-heap ==9.14.1,
             ghc-internal ==9.1401.0,
             ghc-platform ==0.1.0.0,
             ghc-prim ==0.13.1,
             ghci ==9.14.1,
             hashable ==1.5.1.0,
             hashable -arch-native -random-initial-seed,
             hpc ==0.7.0.2,
             indexed-traversable ==0.1.4,
             indexed-traversable-instances ==0.1.2,
             inspection-testing ==0.6.3,
             inspection-testing -more-tests -old-text-tests,
             invariant ==0.6.5,
             kan-extensions ==5.2.8,
             mono-traversable ==1.0.21.0,
             mtl ==2.3.1,
             optparse-applicative ==0.19.0.0,
             optparse-applicative +process,
             os-string ==2.0.8,
             pointed ==5.0.5,
             pointed +comonad +containers +kan-extensions +semigroupoids +stm +tagged +transformers +unordered-containers,
             pretty ==1.1.3.6,
             prettyprinter ==1.7.1,
             prettyprinter -buildreadme +text,
             prettyprinter-ansi-terminal ==1.1.3,
             primitive ==0.9.1.0,
             process ==1.6.26.1,
             profunctors ==5.6.3,
             random ==1.3.1,
             reflection ==2.1.9,
             reflection -slow +template-haskell,
             rts ==1.0.3,
             semaphore-compat ==1.0.0,
             semialign ==1.3.1,
             semialign +semigroupoids,
             semigroupoids ==6.0.2,
             semigroupoids +comonad +containers +contravariant +tagged +unordered-containers,
             split ==0.2.5,
             splitmix ==0.1.3.2,
             splitmix -optimised-mixer,
             stm ==2.5.3.1,
             tagged ==0.8.10,
             tagged +deepseq +template-haskell,
             tasty ==1.5.3,
             tasty +unix,
             tasty-discover ==5.2.0,
             tasty-discover -dev,
             tasty-expected-failure ==0.12.3,
             tasty-hunit ==0.10.2,
             tasty-quickcheck ==0.11.1,
             template-haskell ==2.24.0.0,
             text ==2.1.3,
             th-abstraction ==0.7.2.0,
             these ==1.2.1,
             time ==1.15,
             transformers ==0.6.1.2,
             transformers-base ==0.4.6,
             transformers-base +orphaninstances,
             transformers-compat ==0.8,
             transformers-compat -five +five-three +generic-deriving +mtl,
             unbounded-delays ==0.1.1.1,
             unix ==2.8.8.0,
             unordered-containers ==0.2.21,
             unordered-containers -debug,
             vector ==0.13.2.0,
             vector +boundschecks -internalchecks -unsafechecks -wall,
             vector-algorithms ==0.9.1.0,
             vector-algorithms +bench +boundschecks -internalchecks -llvm -unsafechecks,
             vector-builder ==0.3.8.7,
             vector-stream ==0.1.0.1

allow-newer:
  ordered-containers:containers,
  these:base,
  semialign:base,
  semialign:containers,
  indexed-traversable-instances:containers,
  indexed-traversable-instances:base,
  indexed-traversable:base,
  indexed-traversable:containers,
  boring:containers,
  boring:base

source-repository-package
  type: git
  location: https://github.com/sheaf/ghc-tcplugins-extra
  tag: 6842eb467dde87cf6249828011f4c9d717f7f2b0

source-repository-package
  type: git
  location: https://github.com/konn/ghc-typelits-presburger
  tag: 46f229bf5e855b56c7580802fed1faad4d3d7d9b
  subdir: ghc-typelits-presburger
